.cat-breeds-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: white;
    border-radius: 20px;
}
  
.header h1  {
    text-align: center;
    margin-bottom: -20px;
}
.header h2  {
    text-align: center;
    margin-bottom: -20px;
    font-weight: lighter;
}

.breed-container {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
.breed-container img {
    height: 250px;
    margin-right: 20px;
    margin-left: 20px;
}
  

  
.breed-info p {
    margin: 0;
    line-height: 1.5;
    text-align: left;
}