.container {
    display: flex;
    justify-content: center;

  }
  
.sidebar {
    display: flex;
    flex-direction: column; 
    width: 200px;
    height: 100%;
    background-color: #252525;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s;
}
  
  
.logo {
    text-align: center;
    margin-bottom: 20px;
}
  
.nav-elements {
    display: flex;
    flex-direction: column;
    
}

.nav-elements a {
    width: 140px;
    
}

  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
li {
    margin-bottom: 10px;
  
}
  

  
a:hover {
    background-color: rgb(255, 255, 255);
    color: #414141;
    transition: 0.4s;
    
}

a.active {
    background-color: black;
    color: #ffd76a;
    
}
  

.bar {
   color: white;
   font-size: 30px;
}

