@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.container {
  /* max-width: 2000px; */
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  text-align: left;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  text-decoration: none;
}

h3 {
  text-decoration: none;
}

.loginreg {
  text-align: right;
  padding-left: 300px;
}

.navbar {
  height: 60px;
  background-color: #252525;
  position: relative;
}

.nav-elements ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-elements li {
  display: inline-block;
  padding-right: 30px;
}

.nav-elements a {
  text-decoration: none;
  color: #fcfcfc;
  width: 100px;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
}

.nav-elements a:hover {
  background-color: rgb(255, 255, 255);
  color: #414141;
  transition: 0.4s;
}

.nav-elements a.active {
  background-color: black;
  color: #ffd76a;
}
